         body {
            color: #fff;
            font-family: 'Lato', sans-serif;
            overflow-x: hidden;
            background-color: #141414;
            
        }
        /* body::-webkit-scrollbar {
            display: block;
            width: 0px;
            background: #000000;
          } */
        .cursor{
            height: 20px;
            width: 20px;
            border-radius: 50%;
            position: fixed;
            background-color: #EDBFFF;
            z-index: 8;
            transition: background-image ease 0.5s;
            background-position: center;
            background-size:cover ;
            mix-blend-mode: difference;
            align-items: center;
            justify-content: center;
            text-align: center;
            left: 100;
            overflow: auto;
            
        }
        .cur{
            mix-blend-mode: difference;
            font-weight: 900;
            z-index: 102;
        }
        .topnav {
            /* background-color: #333; */
            overflow: hidden;
            /* border-bottom: 1px solid rgba(255, 255, 255, .1); */
            z-index: 1000;
            position: fixed;
            width: 100%;
            mix-blend-mode: difference;
          }
          *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
          /* Style the links inside the navigation bar */
          .topnav .anc {
            float:right;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 15px;
            color: rgb(255, 255, 255);
            
            
          }
          .topnav h1{
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 19px;
            margin-right: 50%;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            color: #ffffff;
        
           
          }
          /* Change the color of links on hover */
          .topnav a:hover {
            
            color: rgb(255, 130, 255);
          }
          
          /* Add an active class to highlight the current page */
          .topnav a.active {
            background-color: #04AA6D;
            color: white;
          }
          
          /* Hide the link that should open and close the topnav on small screens */
          .topnav .icon {
            display: none;
          }
          #home{
            font-size: 1.8vw;
        }
        #conne{
            font-size:1.2vw;
            float: right;
        }
        
        @media (min-width: 768px) and (max-width: 991px) {
            #home {
                font-size: 5vw;
          }
        }
          @media (max-width: 667px) {
            #home {
                font-size: 5vw;
          }}
          @media (min-width: 768px) and (max-width: 991px) {
            #conne {
                font-size: 5vw;
          }
        }
          @media (max-width: 667px) {
            #conne {
                font-size: 5vw;
          }}
          
        .topnav span{
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 50px;
            background: linear-gradient(90deg , transparent , #fff);
            animation: animate 5s infinite linear;
        }
        
        
        @keyframes animate {
            0%{
                left: 0;
                transform: translate(-100%);
            }
            100%{
                left: 100%;
                transform: translate(0%);
            }
        }
         .both {
            display: grid;
            grid-template-columns: 1fr 2fr;
            position: relative;
            background-color: rgb(0, 0, 0);
            min-height: 100vh;
            /* border-bottom: 1px solid #ffffff; */
        }
        @media (max-width: 668px) {
            .both {
                
                height: 20vh;
                /* border-bottom: 1px solid #ffffff; */
            }
        }

        .left {
            min-height: 100vh;
            width: 0;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            /* background-color: #04AA6D; */
        }

        .right {
            min-height: 100vh;
            width: 100%;
            /* background-color: rgb(255, 0, 0); */
        }
        

        .im {
            position: absolute;
            height: 70vh;
            width: 47vw;
            left: 10%;
            top: 25%;
            z-index: 1;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            .im {
                position: absolute;
                height: 40vh;
                width: 65%;
                left: 13%;
                top: 22%;
                z-index: 1;
            }

        }
        @media (max-width: 767px) {
            .im {
                position: absolute;
                height: 40vh;
                width: 65vw;
                left: 10%;
                top: 29%;
                z-index: 1;
            }
        }

        .left h1 {
            position: absolute;
            /* color: rgb(255, 208, 0); */
            left: 1%;
            top: 59%;
            z-index: 2;
            font-size: 4vw;
        }

        .right h2 {
            position: absolute;
            color: rgb(192, 192, 192);
            left: 39%;
            top: 13%;
            z-index: 2;
            font-size: 5.8vw;
            
        }
        #name{
            color: transparent;
            -webkit-text-stroke: 2px rgb(222, 92, 255);
            transition: ease-in 0.5s;
        }
        
        #name:hover{
            -webkit-text-stroke: 2px rgb(255, 255, 255);
           color: rgb(255, 255, 255);
        }
        @media (min-width: 768px) and (max-width: 991px) {
            .right h2 {
                
                position: absolute;
            color: rgb(255, 255, 255);
            left: 65%;
            top: 15%;
            z-index: 2;
            font-size: 8.5vw;
            }

        }

        @media (max-width: 767px) {
            .right h2 {
                position: absolute;
                color: rgb(189, 189, 189);
                left: 55%;
                top: 22%;
                z-index: 2;
                font-size: 9.5vw;
            }
        }

        .sp1 {
            position: absolute;
            font-size: 1vw;
            top: 44%;
            left: 90%;
            /* color: rgb(222, 92, 255); */
            

        }
        @media (min-width: 768px) and (max-width: 991px) {
            .sp1 {
                top: 70%;
                position: absolute;
                font-size: 2vw;
                left: 65%;
                color: rgb(255, 255, 255);
            }

        }
        @media (max-width: 767px) {
            .sp1 {

                position: absolute;
                font-size: 2vw;
                left: 64%;
                top: 69%;
                color: rgb(255, 255, 255);
            }
        }


        

        .sp2 {
            top: 15vw;
            position: absolute;
            font-size: 3.1vw;
            left: 22%;
            color: rgb(255, 255, 255);
            padding: 0px;
            width: 114%;
            min-height: 10vh;
            font-family:serif
        }
        @media (min-width: 959px) and (max-width: 980px) {
            .sp2 {
                top: 12vh;
                width: 85%;
                position: absolute;
                font-size: 1.6vw;
                left: 10%;
                color: rgb(255, 255, 255);
                padding: 5px;
                min-height: 10vh;
            }

        }
        @media (min-width: 768px) and (max-width: 958px) {
            .sp2 {
                
                top: 58vh;
                width: 180%;
                position: absolute;
                font-size: 4.2vw;
                left: -50vw;
                color: rgb(255, 255, 255);
                padding: 5px;
                min-height: 10vh;
                text-align: center;
            }

        }

        @media (max-width: 668px) {
            .sp2 {
                top: 55vh;
                width: 180%;
                position: absolute;
                text-align: center;
                align-items: center;
                font-size: 5vw;
                left: -25vh;
                color: rgb(255, 255, 255);
                padding: 5px;
                min-height: 10vh;
            }
        }




        body::-webkit-scrollbar {
            display: block;
            width: 0px;
            background: #000000;
        }
        #color_abt{
            color: rgb(222, 92, 255);
            /* color: transparent;
            -webkit-text-stroke: 1.2px rgb(222, 92, 255); */
        }
        .about2{
            min-height: 100vh;
            width: 100%;
            
        }

#mojo{
    position: absolute;
    height: 63vh;
    width: 63vw;
    left: -5%;
    top: 25%;
    z-index: 1;
}
@media (max-width: 668px) {
    #mojo{
        position: absolute;
        height: 63vh;
        width: 63vw;
        left: 20%;
        top: -5%;
        z-index: 1;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #mojo{
        position: absolute;
        height: 63vh;
        width: 63vw;
        left: 20%;
        top: -13%;
        z-index: 1;
    }
}
#abp2{
    font-size: 3.5vw;
    left: 15%;
    z-index: 0;
    width: 42%;
}
@media (max-width: 668px) {
    #abp2{
        font-size: 5.5vw;
        left: 15%;
        z-index: 0;
        width: 72%;
        top: 60%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #abp2{
        font-size: 5.5vw;
        left: 13%;
        z-index: 0;
        width: 80%;
        top: 50%;
    }
}
#tom{
    position: absolute;
    height: 90vh;
    width: 67vw;
    left: 0%;
    top: 18%;
    z-index: 1;
}
#abp3{
    font-size: 3vw;
    left: 5%;
    z-index: 0;
    width: 42%;
}
@media (max-width: 668px) {
    #abp3{
        font-size: 5.5vw;
        left: 15%;
        z-index: 0;
        width: 72%;
        top: 60%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #abp3{
        font-size: 5.5vw;
        left: 13%;
        z-index: 0;
        width: 80%;
        top: 50%;
    }
}
#codi{
    position: absolute;
    height: 60vh;
    width: 67vw;
    left: 0%;
    top: 28%;
    z-index: 1;
    
}
#abp4{
    font-size: 2.3vw;
    left: 5%;
    z-index: 0;
    width: 43%;
}
@media (max-width: 668px) {
    #abp4{
        font-size: 5.5vw;
        left: 10%;
        z-index: 0;
        width: 82%;
        top: 40%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #abp4{
        font-size: 4.7vw;
        left: 13%;
        z-index: 0;
        width: 80%;
        top: 40%;
    }
}
#draw{
    position: absolute;
    height: 100vh;
    width: 120vw;
    left: -15%;
    /* top: -9vh; */
    z-index: 1;
    
}
#abp5{
    font-size: 3vw;
    left: 5%;
    z-index: 0;
    width: 42%;
}
@media (max-width: 668px) {
    #abp5{
        
            font-size: 5.5vw;
            left: 15%;
            z-index: 0;
            width: 82%;
            top: 40%;
        
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #abp5{
        font-size: 5.5vw;
        left: 13%;
        z-index: 0;
        width: 80%;
        top: 50%;
    }
}
#sing{
    position: absolute;
    height: 80vh;
    width: 80vw;
    left: -5%;
    top: 20%;
    z-index: 1;
}
#abp6{
    font-size: 3vw;
    left: 5%;
    z-index: 0;
    width: 42%;
}
@media (max-width: 668px) {
    #abp6{
        font-size: 5.5vw;
        left: 15%;
        z-index: 0;
        width: 72%;
        top: 60%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #abp6{
        font-size: 5.5vw;
        left: 13%;
        z-index: 0;
        width: 80%;
        top: 50%;
    }
}
#abp7{
    font-size: 3vw;
    left: 100%;
    z-index: 0;
    width: 42%;
}
@media (max-width: 668px) {
    #abp7{
        font-size: 5.5vw;
        left: 15%;
        z-index: 0;
        width: 72%;
        top: 60%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #abp7{
        font-size: 5.5vw;
        left: 13%;
        z-index: 0;
        width: 80%;
        top: 50%;
    }
}

#scroller{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 10;
    background-color: #000000;
    
   
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 20px;
    color: transparent;
    -webkit-text-stroke: 2px #6d6d6d;
    transition: all linear 0.5s;
}
@media (max-width: 767px) {
    #scroller h4{
        display: inline-block;
        font-size: 60px;
        font-weight: 900;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-right: 20px;
        color: transparent;
        -webkit-text-stroke: 2px #6d6d6d;
        transition: all linear 0.5s;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #scroller h4{
        display: inline-block;
        font-size: 120px;
        font-weight: 900;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-right: 20px;
        color: transparent;
        -webkit-text-stroke: 2px #6d6d6d;
        transition: all linear 0.5s;
    }
}
#scroller h4:hover{
  color: rgb(255, 130, 255);
  transition: ease-in-out 1s;
  

}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}